.header{
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div{
    margin: 10px;

}


.punkLogo{

    width: 200px;
}

.searchBar {

        background-color:rgb(1, 28, 49);
        height: 50px;
        flex: 1;
        display: flex;
        border-radius: 50px;
        align-items: center;
}

.searchIconContainer{
    margin: 10px;
}

.searchInput{

        background-color: transparent;
        border: none;
        width: 90%;
        outline: none;
        color: rgb(82, 82, 82);
        font-size: 15px;
}

.headerItems  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    
  }

  .headerItems button {
      margin: 10px;
        height: 60px;
     
  }
  .btn12 {
    border: 3px solid rgb(70, 5, 70);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 12px;
    color: #bdb2b2;
    position: relative;
    background-color: rgb(1, 28, 49);
    overflow: hidden;
    justify-content: center;
    margin-bottom: 5px;
    transition: all .3s;
    border-radius: 10px;
  
 
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #42a09d;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: top;
    transform: rotate(-180deg);
    transition: transform 1s;
  }
  
  .btn:hover:before {
    transform: rotate(0);
  
  }

  .btn12:hover {
    border: 3px solid tomato;
    color: tomato;
    animation: shake .2s linear 1;
  }
  
  @keyframes shake {
    33% {
      transform: rotate(15deg);
    }
    
    66% {
      transform: rotate(-20deg);
    }
    
    100% {
      transform: rotate(20deg);
    }
  }
  
  .btn13:hover:before {
    width: 100%;
    transform: skew(0deg); 
    animation: none;
  }
  
  .headerActions{
      display: flex;
      align-items: center;
  }

  .headerItems > div{
    margin: 10px;
  }

  .themeSwitchContainer{
      display: flex;
      background-color: rgb(1, 28, 49);
        border-radius: 50px;
        padding: 10px;
    }

    .themeSwitchContainer{
        height: 50px;
    }




.headerActions {
    box-sizing: border-box;
  }

  
  .loginContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
 
  
  
  }

  .loginButton{
    width: fit-content;
    border: 3px solid #191919;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 10px;
    color: #edf3f5;
    position: relative;
    background:  transparent;
    overflow: hidden;
    margin-bottom: 5px;
    transition: all .3s;
    border-radius: 10px;
    border-color: rgb(51, 1, 51);
  }

  .loginButton:before {
    content: "click me";
    color: rgb(3, 15, 8);
    position: absolute;
    top: 0;
    left: 0;
    background:  linear-gradient(to right ,#3f728a,#150442 );
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: all .5s ease-out;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginButton:hover:before {
    transform: translateY(0);
  }
  


  .signupButton{
    width: fit-content;
    border: 3px solid #191919;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 10px;
    color: #edf3f5;
    position: relative;
    background:  transparent;
    overflow: hidden;
    margin-bottom: 5px;
    transition: all .3s;
    border-radius: 10px;
    border-color: rgb(51, 1, 51);
  }

  .signupButton:before {
    content: "Click Now!";
    color: rgb(3, 15, 8);
    position: absolute;
    top: 0;
    left: 0;
    background:  linear-gradient(to right ,#3f728a,#150442 );
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: all .5s ease-out;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signupButton:hover:before {
    transform: translateY(0);
  }
  